/.gradle
/build
/run
/.settings
/.metadata
/.classpath
/.project
/eclipse
/bin
README.TXT
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-*.txt
banned-*.json
/config
eula.txt
/logs
/mods
ops.json
options.txt
/resourcepacks
server.properties
servers.dat
/saves
/world
/crash-reports
/asm
gradlew
usercache.json
usernamecache.json
whitelist.json
PMastery188_Client.launch
PMastery188_Server.launch
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
forge-1.8.8-11.15.0.1645-1.8.8-changelog.txt
forge-1.8.9-11.15.0.1695-changelog.txt
gradle/
gradlew.bat